* {
    box-sizing: border-box;
}

html,
body,
#app,
.main {
    height: 100%;
}

body {
    background-color: $light;
    font-family: Montserrat, sans-serif;
}

.row {
    max-width: $row-widht;
    width: 100%;
    padding: $row-padding;
    margin: $center;
}

.main {
    padding-top: $header-h;
}

strong {
    font-weight: 700;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: $black;
}

.link {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: $black;
}

.btn {
    font-weight: 700;
    background-color: $gold;

    &:disabled {
        opacity: .6;
    }
}
